.container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner-container {
        h1 {
            font-size: 50px;
            margin: 20px;
        }
    }
}